# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/

# AWS credentials
.aws/

# Local env files
.env

# Git repo
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
